html, body, div {
    margin: 0;
    padding: 0;
    width: 100%;
}

input {
    margin: 5px auto;
    width: 100%;
}

#id {
    width: 100%;
}

.page-title {
    color: blue;
    text-align: center;
}

.input-container {
    width: 55%;
    display: inline-block;
    float: left;
}

.dbn-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

form {
    width: 70%;
    margin: 10px auto;
    overflow: auto;
}

label {
    font-size: 10px;
    display: block;
    text-align: left;
}

.upload-button {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    padding: 10px;
    border-radius: 2px;
    display: inline-block;
    width: 100px;
    position: relative;
}

.base-button {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: auto;
    display: block;
}

.color-container {
    margin: auto;
    width: 80%;
}

.color-picker {
    width: 25%;
    display: inline-block;
}

.popover {
    position: absolute;
    zIndex: 2;
}

.cover {
    position: 'fixed';
    margin: 0;
}
